<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form [formGroup]="validations_form" (ngSubmit)="tryLogin(validations_form.value)">
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                    </div>
                    <input placeholder="Your email" type="email" formControlName="email" class="form-control" required>
                    <ng-container *ngFor="let validation of validation_messages.email">
                      <div class="invalid-feedback d-block" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password" formControlName="password" required>
                    <ng-container *ngFor="let validation of validation_messages.password">
                      <div class="invalid-feedback d-block" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="submit" class="btn btn-primary px-4" [disabled]="!validations_form.valid">Login</button>
                      <label class="error-message">{{errorMessage}}</label>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
